.logo {
    margin: 10em auto 5em auto;
}

ion-list {
    padding: 0em 10em 1em 10em;
}

.error-message {
    color: red;
    margin: 0em 15em 0em 15em;
}

.login {
    margin: 4em 11em 0.5em 11em;
}

.register {
    margin: 1em 11em 0.5em 11em;
}